@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.shop-now-btn {
		@apply px-5 py-3 text-sm font-bold tracking-wide text-white uppercase bg-black hover:bg-black/70;
	}
	.btn {
		@apply h-[50px] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
	}
	.receipt {
		font-family: "Inconsolata", serif;
		font-optical-sizing: auto;
	}

	.btn-accent {
		@apply transition-all bg-custom text-primary hover:bg-custom-hover;
	}

	.input {
		@apply h-[50px] rounded-[8px] w-full outline-none px-6 text-primary border-black border;
	}

	.cart {
		-webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	.button-slant-line-through {
		position: relative; /* Required for pseudo-element positioning */
	}

	.button-slant-line-through::after {
		content: "";
		position: absolute;
		top: 50%; /* Start from the center */
		left: -10%; /* Slightly offset to ensure coverage */
		width: 120%; /* Extend width to cover the button fully at an angle */
		height: 1px; /* Adjust thickness of the line */
		background-color: currentColor; /* Matches the text color */
		transform: translateY(-50%) rotate(-20deg); /* Slant the line */
		transform-origin: center; /* Rotate from the center */
		pointer-events: none; /* Ensure it doesn’t block clicks */
	}
}

@layer utilities {
	.custom-easing {
		transition: transform 500ms cubic-bezier(0.65, 0, 0.35, 1);
	}
}

.productSlider .swiper-pagination-bullets {
	bottom: 1.5rem;
}

.productSlider .swiper-pagination-bullet {
	background: #000;
	width: 30px;
	border-radius: 5px;
	height: 2px;
}
